In [15]:
from pandas import DataFrame
from numpy.random import randn
df = DataFrame(randn(100,4), columns=list('ABCT'))
df.head()

          A         B         C         T
0 -1.052818  1.643282 -1.449629 -2.060076
1 -0.375893 -0.695510  2.370242  1.495942
2 -0.294380  0.737779  0.757363 -0.479082
3 -1.558099  0.281834 -0.220170  1.006652
4  0.862530 -0.003741  1.425275  0.625819

In [16]:
# Creating fake values 
df.loc[3, 'A'] = None

from random import choice
df['B'] = df.apply(lambda r: choice(['xx', 'yy', 'zz', 'kk']), axis=1)

In [17]:
df.head()

          A   B         C         T
0 -1.052818  xx -1.449629 -2.060076
1 -0.375893  yy  2.370242  1.495942
2 -0.294380  zz  0.757363 -0.479082
3       NaN  zz -0.220170  1.006652
4  0.862530  yy  1.425275  0.625819

In [46]:
from sklearn.preprocessing import LabelEncoder
df2 = df.copy()

# colA: repace NaN with value
df2['A']= df2.A.fillna(999)

# colB: For each class in B.unique(); associate number
le = LabelEncoder()
df2['B'] = le.fit_transform(df2['B'])

from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()
encoder.fit(df2[['B']])

from pandas import concat
df_cat = DataFrame(encoder.transform(df2[['B']]).todense(), columns=le.classes_)
print(df_cat.head())
print(df2.head())
df2.merge(df_cat, left_index=True, right_index=True)

    kk   xx   yy   zz
0  0.0  1.0  0.0  0.0
1  0.0  0.0  1.0  0.0
2  0.0  0.0  0.0  1.0
3  0.0  0.0  0.0  1.0
4  0.0  0.0  1.0  0.0
            A  B         C         T
0   -1.052818  1 -1.449629 -2.060076
1   -0.375893  2  2.370242  1.495942
2   -0.294380  3  0.757363 -0.479082
3  999.000000  3 -0.220170  1.006652
4    0.862530  2  1.425275  0.625819

c:\users\beal_m\envs\p_fraud_detection\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

             A  B         C         T   kk   xx   yy   zz
0    -1.052818  1 -1.449629 -2.060076  0.0  1.0  0.0  0.0
1    -0.375893  2  2.370242  1.495942  0.0  0.0  1.0  0.0
2    -0.294380  3  0.757363 -0.479082  0.0  0.0  0.0  1.0
3   999.000000  3 -0.220170  1.006652  0.0  0.0  0.0  1.0
4     0.862530  2  1.425275  0.625819  0.0  0.0  1.0  0.0
..         ... ..       ...       ...  ...  ...  ...  ...
95    0.197058  0  0.509072 -1.628352  1.0  0.0  0.0  0.0
96   -0.042144  3  1.639220 -1.131554  0.0  0.0  0.0  1.0
97   -0.018602  1 -0.086330  0.183119  0.0  1.0  0.0  0.0
98    0.265648  1 -0.420785 -1.584700  0.0  1.0  0.0  0.0
99   -0.220876  3  0.262732  0.531254  0.0  0.0  0.0  1.0

[100 rows x 8 columns]

In [24]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
transformed = pca.fit_transform(df2)
print(transformed)

[[-1.10092070e+01 -8.42610265e-01]
 [-1.03275943e+01  9.85102824e-01]
 [-1.02463648e+01  1.52512933e+00]
 [ 9.89048074e+02 -3.48559743e-02]
 [-9.08992659e+00  7.75188921e-01]
 [-1.07700858e+01 -1.30694040e+00]
 [-9.12879772e+00 -2.59961498e-01]
 [-7.84167419e+00 -3.93231387e-01]
 [-8.65947783e+00  1.78445701e+00]
 [-1.05239276e+01  6.35029134e-01]
 [-8.98306261e+00  1.38375873e+00]
 [-9.92384122e+00  1.46697052e+00]
 [-1.13721043e+01 -4.10884613e-01]
 [-9.37558202e+00  6.49487462e-01]
 [-1.00007249e+01  1.79958160e+00]
 [-9.42625183e+00  6.88852552e-01]
 [-1.06700520e+01  1.44549981e+00]
 [-1.06221603e+01 -1.22966467e+00]
 [-1.00184739e+01 -1.48405008e+00]
 [-1.15951181e+01 -1.28771391e+00]
 [-8.97512219e+00  2.06868142e+00]
 [-1.07216696e+01 -1.18250452e+00]
 [-8.43564545e+00  1.50180580e+00]
 [-1.15002800e+01 -1.63951739e-01]
 [-8.76314077e+00  5.07985725e-01]
 [-9.69168249e+00 -5.51524648e-01]
 [-1.13833696e+01  5.31730387e-01]
 [-9.48446516e+00 -4.01955423e-01]
 [-1.29453268e+01  4.86089663e-01]
 [-8.19411804e+00  4.48349425e-01]
 [-8.88206877e+00 -3.28956959e-01]
 [-1.04037167e+01 -5.63392556e-01]
 [-1.05173959e+01 -4.57590192e-01]
 [-1.00908362e+01  1.14279720e+00]
 [-8.97455966e+00  1.67329357e+00]
 [-8.66043863e+00  1.52210856e+00]
 [-1.05782408e+01 -1.39630419e+00]
 [-1.03992992e+01 -5.37109652e-01]
 [-9.11157127e+00 -3.49455685e-01]
 [-1.05025953e+01 -1.51022027e+00]
 [-9.59976063e+00 -4.46288672e-01]
 [-1.10584067e+01 -1.16635307e+00]
 [-1.06711057e+01 -1.36736529e+00]
 [-9.57639773e+00 -1.65693013e+00]
 [-9.26528764e+00 -1.65624617e-01]
 [-9.55075139e+00 -1.36354999e+00]
 [-9.47992247e+00  1.41197656e+00]
 [-1.07535913e+01 -1.72027371e+00]
 [-1.15792604e+01 -1.30840976e+00]
 [-9.99208922e+00 -4.45037200e-01]
 [-8.93213368e+00 -3.21536660e-01]
 [-1.05064582e+01  5.65198138e-01]
 [-8.10437297e+00  1.86527712e+00]
 [-1.14733169e+01 -1.45828818e+00]
 [-1.14838278e+01 -1.31563185e+00]
 [-1.01145232e+01 -4.01419603e-01]
 [-1.15429771e+01 -1.75031974e+00]
 [-1.06123222e+01 -1.35771177e+00]
 [-1.05931569e+01  5.48206882e-01]
 [-1.06178148e+01 -3.99977481e-01]
 [-8.17568998e+00 -9.76381127e-02]
 [-9.35744639e+00  5.31450011e-01]
 [-9.29083588e+00 -5.65212803e-01]
 [-9.46335306e+00  1.43894110e+00]
 [-1.00574462e+01 -4.65823404e-01]
 [-9.08601355e+00  3.63103555e-01]
 [-8.75073633e+00  9.11347522e-01]
 [-8.84185563e+00  1.65840428e+00]
 [-9.01929550e+00  3.20103452e-01]
 [-9.97113791e+00  4.28740562e-01]
 [-9.11540096e+00  6.58820053e-01]
 [-9.38480042e+00  1.26421965e+00]
 [-1.02782149e+01 -4.29479147e-01]
 [-9.84477748e+00  1.70827159e+00]
 [-1.09732333e+01 -4.31646648e-01]
 [-9.21197908e+00  4.80620364e-01]
 [-8.49655840e+00 -1.35851582e+00]
 [-1.10599862e+01  7.34551605e-01]
 [-8.70090820e+00 -1.46435845e+00]
 [-9.72079752e+00 -1.57105598e+00]
 [-1.18402128e+01 -1.41509433e+00]
 [-1.01391458e+01 -4.98306779e-01]
 [-1.12587811e+01  5.93135415e-01]
 [-1.09361285e+01 -6.18866227e-01]
 [-9.57516384e+00 -1.44299125e+00]
 [-9.18843872e+00  1.36435329e+00]
 [-8.88235440e+00  3.16988801e-01]
 [-1.18936065e+01 -1.63170505e+00]
 [-1.01252706e+01 -1.03631941e+00]
 [-1.05241956e+01  1.37507503e+00]
 [-9.39747602e+00  3.86391989e-01]
 [-1.14351264e+01  1.75655513e+00]
 [-1.07788436e+01  1.39724191e+00]
 [-9.85168404e+00 -1.55821341e+00]
 [-1.15227960e+01  4.00176522e-01]
 [-9.76105467e+00 -1.64196935e+00]
 [-9.99522053e+00  1.45659054e+00]
 [-9.97269889e+00 -3.68079668e-01]
 [-9.69050236e+00 -7.03211042e-01]
 [-1.01714604e+01  1.67844248e+00]]